@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <section class="hero-banner bg-blue-g-2 c-white pt-2 text-s-black-50 md-pt-pb-4">
        <div class="container md-pt-pb-1">
            <!-- Post -->
            <article class="flex flex-d-col text-center md-text-left md-flex-d-row md-flex-wrap md-ai-center md-jc-between">
                <!-- Post Content -->
                <div class="post-content mb-2 md-mb-0 md-pr-1 md-w-60 lg-w-50">
                    <!-- Text -->
                    <div class="text-wrap">
                        <h1 class="display-4">Welcome</h1>
                        <p class="h3 antialiased mr-ml-a mw-35em text-lg">One of the most popular projects when you want to learn a new programming language is <span class="text-danger">Todo List</span> </p>
                    </div>
                    <!-- Hero Buttons-->
                    <div class="button-wrap flex flex-wrap jc-center pt-1 md-jc-start">
                        <a class="btn-round all-caps bg-blue-70 c-blue-30 pr-20" href="https://github.com/felix-le/geo-asp-net" target="_blank">Source code</a> ||
                        <a class="btn-round all-caps bg-blue-30 c-white" href="https://todos-asp-rich.azurewebsites.net/" target="_blank">Global Site</a>
                    </div>
                </div>
                <!-- Post Media -->
                <div class="post-media pr-pl-1 md-pr-0 md-pl-2 md-w-40 lg-w-50">
                    <!-- Image -->
                    <figure class="media-item mb-0 lazyload">
                        <picture>
                            <source srcset="https://lh3.googleusercontent.com/Z7l0JfqTeeK41_DGK7cRnkmagm_brdcAWCEmpXuGj_rUmOVr9vyuuoIaJtXngW1nZVg0bWjYlmGQPQsE11Og_nMH=w640-h400-e365-rj-sc0x00ffffff" media="(min-width: 48em)" />
                            <source srcset="https://lh3.googleusercontent.com/Z7l0JfqTeeK41_DGK7cRnkmagm_brdcAWCEmpXuGj_rUmOVr9vyuuoIaJtXngW1nZVg0bWjYlmGQPQsE11Og_nMH=w640-h400-e365-rj-sc0x00ffffff" />
                            <img srcset="https://lh3.googleusercontent.com/Z7l0JfqTeeK41_DGK7cRnkmagm_brdcAWCEmpXuGj_rUmOVr9vyuuoIaJtXngW1nZVg0bWjYlmGQPQsE11Og_nMH=w640-h400-e365-rj-sc0x00ffffff" alt="in2Marketplace">
                            <noscript>
                                <img src="https://lh3.googleusercontent.com/Z7l0JfqTeeK41_DGK7cRnkmagm_brdcAWCEmpXuGj_rUmOVr9vyuuoIaJtXngW1nZVg0bWjYlmGQPQsE11Og_nMH=w640-h400-e365-rj-sc0x00ffffff" alt="in2Marketplace">
                            </noscript>
                        </picture>
                    </figure>
                </div>
            </article>
        </div>
    </section>
</div>
